@CHARSET "UTF-8";

/* make_app.jsp */
header {
	background-color: #f1f1f1;
	border: 0px;
	height: 100px;
	width: 100%;
}

nav {
	background-color: #e8d1ff;
	border: 0px;
	top: 100px;
	height: 50px;
	width: 100%;
}

#make_app_main {
	top: 150px;
	height: 605px;
	width: 84%;
	border: 0px;
	background-color: #ffffff;
}

footer {
	top: 755px;
	height: 200px;
	width: 84%;
	border: 0px;
}

.right_comp{
	width: 100%;
	text-align: left;
	border: none;
}

/* main */
.make_app_main_widget {
	background-color: #f1f1f1;
	height: 200px;
	width: 16%;
}

#make_app_main_widget_1 {
	top: 200px;
	left: 10%;
}

#make_app_main_widget_2 {
	top: 200px;
	left: 26%;
}

#make_app_main_widget_3 {
	top: 200px;
	left: 42%;
	height: 400px;
}

#make_app_main_widget_4 {
	top: 200px;
	left: 58%;
	height: 400px;
}

#make_app_main_widget_5 {
	top: 400px;
	left: 10%;
}

#make_app_main_widget_6 {
	top: 400px;
	left: 26%;
}

/* right */
.make_app_right {
	left: 84%;
	width: 16%;
}

#make_app_right_searchbar {
	top: 150px;
	height: 30px;
	border: 0px;
}

#make_app_right_button {
	top: 180px;
	height: 30px;
	border: 0px;
}

#make_app_right_list {
	top: 210px;
	height: 745px;
	border: 0px;
	background-color: #ffffff;
}

.make_app_right_button {
	height: 100%;
	width: 25%;
}

#make_app_right_button_1 {
	left: 0%;
	background-color: #fee8cf;
}

#make_app_right_button_2 {
	left: 25%;
	background-color: #ffdeda;
	border-left: 0px;
}

#make_app_right_button_3 {
	left: 50%;
	background-color: #ffffd1;
	border-left: 0px;
}

#make_app_right_button_4 {
	left: 75%;
	background-color: #cfd0ff;
	border-left: 0px;
}

/* bottom */
.make_app_footer {
	top: 0px;
	height: 100%;
	border: 0px;
}

#make_app_footer_1 {
	left: 0%;
	width: 27%;
	background-color: #f1f1f1;
}

#make_app_footer_2 {
	left: 27%;
	width: 19%;
	background-color: #f2f4d0;
}

#make_app_footer_3 {
	left: 46%;
	width: 27%;
	background-color: #fdddd0;
}

#make_app_footer_4 {
	left: 73%;
	width: 27%;
	background-color: #f1f1f1;
}