@CHARSET "UTF-8";

/* make_app.jsp */
header {
	background-color: #f1f1f1;
	border: 0px;
	height: 10%;
	width: 100%;
}

nav {
	background-color: #e8d1ff;
	border: 0px;
	top: 10%;
	height: 5%;
	width: 100%;
}

#make_app_main {
	top: 15%;
	height: 60%;
	width: 84%;
	border: 0px;
	background-color: #ffffff;
}

footer {
	top: 75%;
	height: 25%;
	width: 84%;
	border: 0px;
}

.right_comp{
	width: 100%;
	text-align: left;
	border: none;
}

/* main */
.make_app_main_widget {
	background-color: #f1f1f1;
	height: 30%;
	width: 16%;
}

#make_app_main_widget_1 {
	top: 10%;
	left: 10%;
}

#make_app_main_widget_2 {
	top: 10%;
	left: 26%;
}

#make_app_main_widget_3 {
	top: 10%;
	left: 42%;
	height: 60%;
}

#make_app_main_widget_4 {
	top: 10%;
	left: 58%;
	height: 60%;
}

#make_app_main_widget_5 {
	top: 40%;
	left: 10%;
}

#make_app_main_widget_6 {
	top: 40%;
	left: 26%;
}

/* right */
.make_app_right {
	left: 84%;
	width: 16%;
}

#make_app_right_searchbar {
	top: 15%;
	height: 3%;
	border: 0px;
}

#make_app_right_button {
	top: 18%;
	height: 4%;
	border: 0px;
}

#make_app_right_list {
	top: 22%;
	height: 78%;
	border: 0px;
	background-color: #ffffff;
}

.make_app_right_button {
	height: 100%;
	width: 25%;
}

#make_app_right_button_1 {
	left: 0%;
	background-color: #fee8cf;
}

#make_app_right_button_2 {
	left: 25%;
	background-color: #ffdeda;
	border-left: 0px;
}

#make_app_right_button_3 {
	left: 50%;
	background-color: #ffffd1;
	border-left: 0px;
}

#make_app_right_button_4 {
	left: 75%;
	background-color: #cfd0ff;
	border-left: 0px;
}

/* bottom */
.make_app_footer {
	top: 0px;
	height: 100%;
	border: 0px;
}

#make_app_footer_1 {
	left: 0%;
	width: 27%;
	background-color: #f1f1f1;
}

#make_app_footer_2 {
	left: 27%;
	width: 19%;
	background-color: #f2f4d0;
}

#make_app_footer_3 {
	left: 46%;
	width: 27%;
	background-color: #fdddd0;
}

#make_app_footer_4 {
	left: 73%;
	width: 27%;
	background-color: #f1f1f1;
}