@CHARSET "UTF-8";

body {
  margin: 0; padding: 0;
}
 
div.centerOuter {
  position: inherit;
  top: 50%; left: 50%;
  margin: -210px 0 0 -290px;
  width: 540px; height: 380px;
  border: 10px solid forestgreen;
  padding: 10px;
  background-color: lightgreen;
}
 
div.centerInner {
  position: inherit;
  top: 50%; left: 50%;
  margin: -90px 0 0 -130px;
  width: 240px; height: 160px;
  border: 10px solid orange;
  background-color: yellow;
  font: 2em "Palatino Linotype", "Book Antiqua", Palatino, serif;
  color: darkbrown;
  text-align: center;
}
